[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"], version = "*"}
flask-marshmallow = {extras = ["sqlalchemy"], version = "*"}
flask = {extras = ["async"], version = "*"}
fastapi = "*"
pytest = "*"
databases = {extras = ["aiosqlite"], version = "*"}
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
